.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 187px;
}

.small_cont {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.small_cont h3 {
    color: var(--mainBlack);
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
}

.small_cont_p {
    color: var(--mainBlack);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.36px;
}

.small_cont_p2 {
    display: none;
}

.icon_container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.modern_container {
    width: 427px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--mainWhite);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
}

.modern_container h4 {
    color: var(--mainBlack);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.modern_container p {
    color: var(--mainBlack);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

.meritocratic_container {
    width: 427px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--mainWhite);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
}

.meritocratic_container h4 {
    color: var(--mainBlack);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.meritocratic_container p {
    color: var(--mainBlack);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

.engineer_container {
    width: 427px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--mainWhite);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
}

.engineer_container h4 {
    color: var(--mainBlack);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.engineer_container p {
    color: var(--mainBlack);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}