* {
  box-sizing: border-box;
}
body {
  background-color: #f9f9f9;
  font-family: var(--fontMain);
  width: 100%;
}
.header {
  width: 100%;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 107px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e7e7e7;
}

.logo_content {
  display: flex;
  gap: 8px;
  align-items: center;
}

.logo_title {
  font-size: 32px;
  color: var(--textBlack);
  font-family: var(--fontOpenSans);
  font-weight: 700;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-weight: 600;
  font-size: 18px;
  color: var(--textBlack);
}

.nav-item:nth-child(4) .nav-link {
  color: var(--mainGreen);
}

.info {
  display: flex;
  padding: 46px 32px;
  gap: 37px;
  justify-content: space-between;
  align-items: center;
}

.carusel_title {
  color: var(--textBlack);
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
}

.carusel_desc {
  color: var(--gray20);
  font-family: var(--fontOpenSans);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.48px;
}
.carusel,
.info_image {
  width: 50%;
}

.info_image img {
  width: 100%;
  height: 100%;
}

.info_content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.carusel {
  display: flex;
  flex-direction: column;
  gap: 39px;
  align-items: flex-start;
}

.btn {
  padding: 20px 24px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 8px;
  background: var(--mainGreen);
  cursor: pointer;
  border: none;
}

.btn:hover {
  opacity: 0.8;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 24px;
}

.title_mid {
  /*   width: 63%; */
  color: var(--textBlack);
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
}

.title_desc {
  width: 64%;
  color: var(--textBlack);
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.36px;
}

.title_card {
  padding: 48px 56px;
}
.card_info {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}

.cards_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 427px;
  height: 340px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.title_img {
  width: 104px;
  height: 88px;
}

.card_desc {
  padding: 24px;
  color: var(--textBlack);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.cards_title {
  color: var(--textBlack);
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.feature {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.feature_info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.feature_info img {
  width: 80px;
  height: 80px;
}

.members_widget {
  /* width: 50%; */
  width: 484px;
  margin: 60px;
  height: 400px;
  border-radius: 16px;
  border: 4px solid var(--textBlack);
  background-color: #fff;
}
.member_card {
  padding-top: 32px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}

.members_title {
  color: var(--textBlack);
  font-size: 32px;
  font-weight: 700;
  line-height: 40px; /* 125% */
  letter-spacing: -0.64px;
}

.members_img {
  border-radius: 50%;
  object-fit: cover;
}

.feature_title {
  color: var(--textBlack);
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
}

.feature_desc {
  width: 80%;
  color: var(--textBlack);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.36px;
}

.members {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.member_card {
  display: flex;
  gap: 28px;
}

.members_nav {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.members_name {
  color: #303031;
  font-style: italic;
  font-size: 24px;
  font-weight: 100;
  line-height: 26px;
  letter-spacing: -0.48px;
}

/* .members_share {
  
}
 */

.member_share {
  color: #66645e;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.32px;
}

.members_info {
  display: flex;
  gap: 12px;
}

.proposal_widget {
  padding: 36px 40px;
  width: 484px;
  height: 412px;
  border-radius: 16px;
  border: 4px solid var(--textBlack);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /*  display: table-cell; */
}

.prop_member {
  display: flex;
  gap: 12px;
}

.prop_member_desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.member_name_prop {
  color: #303031;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.48px;
}

.member_name_desc {
  color: var(--gray20);
  font-size: 16px;
  font-style: italic;
  font-weight: 100;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}

.proposal_top {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.prop_top_desc {
  color: #303031;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}

.prop_header_top {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.prop_about {
  display: flex;
  gap: 100px;
}

.prop_commit {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.prop_share {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.commit_share_about {
  color: var(--gray20);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}

.commit_share_value {
  color: #303031;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.48px;
}

.prop_btn {
  display: flex;
  align-items: center;
}

.prop_button {
  padding: 12px 24px;
  width: 404px;
  border-radius: 16px;
  background: #303031;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.48px;
  text-align: center;
}

.icon_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  
}

.propos_feature {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.btn_ham {
  background-color: #f9f9f9;
  cursor: pointer;
  display: none;
  border: none;
}